* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
.sans-serif-font {
  font-family: 'Open Sans', sans-serif;
}

.pageContainer {
  position: relative;
}

.spinIndicator {
  font-size: 24px;
}

.spinContainer {
  display: flex;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.1);
}

.pageIndicator {
  composes: sans-serif-font;
  width: 96%;
  min-width: 96%;
  margin: 60px auto !important;
  padding: 4px 0 0 !important;
  font-size: 24px !important;
  color: #ccc !important;
}

.list {
  margin: 0 auto 10px;
  max-width: 1050px;
  background: white;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
}

.itemWrapper {
  composes: sans-serif-font;
  display: flex;
  border-top: 1px solid transparent;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 10%);
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  transition: all ease-in 300ms;
  background: white;
  width: 500px;
  float: left;
  margin: 15px 10px;
  transition: all ease-in 300ms;
  height: 280px;
}

@media only screen and (max-width: 812px) {
  /* For mobile phones: */
  .itemWrapper {
    width: 100% !important;
  }
  
}
.itemWrapper:hover {
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3);*/
}

.imageWrapper {
  composes: infoPreviewImageWrapper from '../article-edit/ArticleInfoSetting.module.css';
  margin-right: 30px;
}

.image {
  composes: infoPreviewImage from '../article-edit/ArticleInfoSetting.module.css';
  height: 280px;
  width: 210px;
  box-shadow: none;
  transition: all ease-in 300ms;
}
@media only screen and (max-width: 812px) {
  /* For mobile phones: */
  .image {
    width: 155px;
  }
  .pageIndicator {
    composes: sans-serif-font;
    width: unset !important;
    min-width: unset !important;
    margin: 33px 0 0 0 !important;
  }
  .pageIndicator::before,
  .pageIndicator::after {
width: 15% !important;
  }
  .ant-divider-horizontal.ant-divider-with-text-center::before {
    width: 15% !important;
  }
  .contentWrapper {
    display: inline-block !important;
  }
  .excerpt {
    font-size: 11px;
    bottom: 7px !important;
  }
  .title {
    width: 217px;
  }
  .editOption {
    left: 100px !important;
    color: #121212 !important;
    width: 15% !important;
    margin: 6px 7px 6px 10px !important;
  }
}
@media only screen and (max-width: 700px) {
  .editOption {
    left: 76px !important;
  }
}

.itemWrapper:hover .image{
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  composes: infoPreviewTitle from '../article-edit/ArticleInfoSetting.module.css';
    white-space: pre-wrap;
    float: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    padding: 4px 10px;
    background-color: #434343;
    text-transform: uppercase;
}

.title a {
  color: #ffffff;
}

.infoWrapper {
  margin: 4px 0;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.author {
  color: salmon;
}

.postedTimeWithUpdated {
  border-bottom: 1px dashed #ccc;
}

.excerpt {
  composes: infoPreviewExcerpt from '../article-edit/ArticleInfoSetting.module.css';
  flex: 1 1;
  margin: 3px 8px 0px;
  bottom: 6px;
  position: relative;
}

.excerpt span:first-child {
  color: #3e3c50;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0.05px;
    font-weight: 600;
    text-align: left;
    vertical-align: middle;
}
.readMoreLink a {
  display: inline-block;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.1s ease;
}

.readMoreLink a:hover {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

.bottomBar {
  /* 配合flex box，direction：column作sticky bottom bar */
  flex-shrink: 0;
}

.editOption {
  composes: button from '../header/Header.module.css';
  font-size: 1.2rem;
  border: none;
  line-height: 24px;
  padding: 0 6px;
  margin: -5px 0 5px 10px;
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: right;
  float: right;
  text-align: right;
  left: 160px;
}

.tagListWrapper {

}

.tagList {
    font-weight: 600;
    position: relative;
    bottom: 7px;
    vertical-align: baseline;
    text-align: left;
}

.tagInput {
  height: 22px;
  width: 78px;
  line-height: 20px;
  margin: 0 0 0 8px;
}

:global(.ant-tag) {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans', sans-serif;
}